<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Hotel</h1>
    <div class="col-6 offset-3">
        <form action="/hotels" method="post" novalidate class="needs-validation" >
            <div>
            <label for="title" class="form-label">Title</label> <br>
            <input class="form-control" type="text" id="title" name="hotel[title]" required> <br>
            </div>
            <div>
            <label for="location" class="form-label">Location</label> <br>
            <input class="form-control" type="text" id="location" name="hotel[location]" required> <br>  </div>
            
            <div>
                <label for="description" class="form-label">Description</label> <br>
                <textarea class="form-control" type="text" id="description" name="hotel[description]" required> </textarea> <br>

                <div>
                    <label for="price" class="form-label">Price</label> <br>
                    <input min=0 class="form-control" type="number" step="any" id="price" name="hotel[price]" required> <br>  </div>
                    <div>
            <label for="image" class="form-label">Image URL</label> <br>
           <input class="form-control" type="url" id="image" name="hotel[image]" required> <br>  </div>

            <button class="btn btn-primary">submit</button>
       
        </form>
    </div>
</div>



